@use "../../App.scss" as c;  // Import styles from App.scss

.scrollUp {
    background-color: red;
    border-radius: 4px;
    position: fixed;
    @include c.flex;
    right: 10px;
  
    display: inline;
    z-index: 10;
    bottom: 10px;
    background-color: c.$secondary-color;
    opacity: 0.1;
    padding: 0.5rem 1rem;
    transition: all 0.5s ease;
    .icon {
      font-size: 1rem;
      
  
    }
  
    &:hover {
      opacity: 1;
      box-shadow: 2px 2px 12px 2px rgb(247, 247, 247);
    }
  
  
  
  
    &:hover .icon{
      
      animation-name:scrollUp ;
      animation-duration: 2s;
      animation-fill-mode: forwards;
     
    }
  
    @keyframes scrollUp {
      0%{
          transform: translateY(0);
      }
      20%{
          transform: translateY(-10px);
      }
      30%{
          transform: translateY(0px);
      }
      40%{
          transform: translateY(-10px);
      }
      50%{
          transform: translateY(0);
      }
      60%{
          transform: translateY(-10px);
      }
     
      100%{
          transform: translateY(0);
      }
     
    }
  }
  @media (max-width: 468px) {

    .scrollUp {
      background-color: red;
      border-radius: 4px;
      position: fixed;
      @include c.flex;
      right: 10px;
    
      display: inline;
      z-index: 10;
      bottom: 10px;
      background-color: c.$secondary-color;
      opacity: 0.1;
      padding: 0.3rem 0.7rem;
      transition: all 0.5s ease;
      .icon {
        font-size: 0.6rem;
      }  

  }
  }